<h2>All Feedback</h2>

{{#if testimonials.length}}
  <ul class="feedback-list">
    {{#each testimonials}}
      <li class="feedback-card">
        <span class="feedback-date">
          {{this.date}}
        </span>
        <strong>{{this.name}}</strong> ({{this.email}})
        <div>{{this.message}}</div>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No feedback has been submitted yet.</p>
{{/if}}

<br>
<a href="/submit">Submit more feedback</a>

{{#if error}}
  <div class="error-list">{{error}}</div>
{{/if}}
